@using Microsoft.AspNetCore.Identity
@using Full_Metal_Paintball_Carmagnola.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var nomeCompleto = user != null ? $"{user.FirstName} {user.LastName}" : User.Identity?.Name;

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Gestisci profilo">
                Ciao @nomeCompleto!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <!-- Aggiungiamo il link per il Tesseramento -->
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrati</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Accedi</a>
        </li>
        <!-- Link per il Tesseramento -->
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Tesseramento" asp-action="Index">Tesseramento</a>
        </li>
    }
</ul>
