@{
    ViewData["Title"] = "Benvenuto";
}

<div class="background-logo"></div>

<div class="welcome-container">
    <h1>Benvenuto nel Gestionale</h1>
    <h1>FULL METAL PAINTBALL CARMAGNOLA</h1>
    <p>Accedi o registrati per gestire tesserati, prenotazioni e molto altro.</p>
</div>